extends ../layout

block content   
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
       a.navbar-brand(href='/') Red de Bicicletas
    .container.mt-5
        br
        .card
            .card-header
                h1 Lista de Usuarios
            .card-body
                .row
                    .col-12
                        a.btn.btn-light.mr-2(href='/', role='button', aria-pressed='true') Volver 
                        a.btn.btn-light(href='/usuarios/create', role='button', aria-pressed='true') Crear Usuario
        
                        table.table.table-bordered.mt-2.text-center
                            thead
                                tr
                                    th(scope='col' colspan=7) LISTADO DE USUARIOS
                                tr
                                    th(scope='col') # 
                                    th(scope='col') Nombre 
                                    th(scope='col') Email
                                    th(scope='col') Verificado
                                    th(scope='col') 
                                    th(scope='col') 
                                    th(scope='col') 
                            tbody
                                each usuario in listUsuarios
                                    tr
                                        td(scope='row')= usuario.code
                                        td= usuario.nombre
                                        td= usuario.email
                                        td= usuario.verificado ? 'SI' : 'NO' 
                                        td.text-center
                                            a.btn.btn-dark(href=`usuarios/${usuario.id}/reservar` role="button") Reservar
                                        td.text-center
                                            a.btn.btn-primary(href=`usuarios/${usuario.id}/update` role="button") 
                                                i.fas.fa-user-edit  
                                        td.text-center
                                            form.inline(method='post' action=`usuarios/${usuario.id}/delete`)
                                                input(type='hidden' name='id' value=usuario.id)
                                                button.btn.btn-danger(type='submit' name='submit_param' value='submit_value')
                                                    i.fas.fa-trash 


