extends ../layout
block content
    h1 Actualizar Bicicleta
    a(href='/bicicletas/') Volver
    form(action=`/bicicletas/${bici.id}/update` method='post')
        h1 Formulario Base
        label(for="id") ID 
        input#id(type='text' name='id' value=bici.id )
        br
        label(for="color") Color 
        input#color(type='text' name='color' value=bici.color)
        br
        label(for="modelo") Modelo 
        input#modelo(type='text' name='modelo' value=bici.modelo )
        br
        label(for="lat") Latitud 
        input#lat(type='text' name='lat' value=bici.ubicacion[0] )
        br
        label(for="lng") Longitud 
        input#lng(type='text' name='lng' value=bici.ubicacion[1] )
        br
        input(type='submit' value='Enviar la información')
